# 指定依赖的安装源
registry "https://registry.npm.taobao.org"
# 指定 node.js 的安装源，某些依赖包可能需要下载 node.js
disturl "https://npm.taobao.org/mirrors/node/"
# 一些依赖包内部需要下载的依赖文件，以下变量会被相关依赖包读取到并使用
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
phantomjs_cdnurl "http://cnpmjs.org/downloads"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
sqlite3_binary_host_mirror "https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror "https://npm.taobao.org/mirrors/node-inspector/"
chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedriver"
canvas_binary_host_mirror "https://npm.taobao.org/mirrors/node-canvas-prebuilt/"
sharp_binary_host "https://npm.taobao.org/mirrors/sharp/"
sharp_libvips_binary_host "https://npm.taobao.org/mirrors/sharp-libvips/"
puppeteer_download_host "https://npm.taobao.org/mirrors/"
sentrycli_cdnurl "https://npm.taobao.org/mirrors/sentry-cli/"
python_mirror "https://npm.taobao.org/mirrors/python/"
CYPRESS_INSTALL_BINARY "https://npm.taobao.org/mirrors/cypress/7.7.0/linux-x64/cypress.zip"

network-timeout 600000